html {
  font-size: 62.5%;
  font-family: "Mali", cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  background-color: #dbdbdb;
}
header h1 {
  opacity: 0.7;
}
header button {
  margin-left: 30px;
  font-size: 1.6rem;
  border: none;
  background-color: #dbdbdb;
}
header button span:hover {
  color: gray;
}
header button span:active {
  color: #6464f1;
}

main div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 24px -6px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 15px 24px -6px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 15px 24px -6px rgba(0, 0, 0, 0.75) inset;
}
main p {
  font-size: 1.6rem;
  padding: 5px 10px;
  background-color: #1d1b1b;
  color: #dbdbdb;
  border-radius: 5px;
}
main button {
  font-size: 2rem;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
main button:active {
  background-color: white;
}